h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
}

h1 .wrapper, h2 .wrapper, h3 .wrapper, h4 .wrapper, h5 .wrapper, h6 .wrapper {
    font: 0/0 a
}

p {
    font-style: normal;
}

.cinema-white {
    color: #fff;
}

.cinema-blue {
    color: #1f2730;
}

.cinema-red {
    color: #8a1b13;
}

.cinema-orange {
    color: #ffb43f;
}

.cinema-black {
    color: #000;
}

.opacy.no-padding
{
    padding: 2rem 0;
}

#video_background
{
    margin-top: -10vh;
}

.home_main
{
    width: 100%;
}

.home h1, .home h2
{
    font-size: 6rem;
    line-height: 1.2;
    font-weight: bold;
}

.home h3
{
    font-size: 4rem;
    line-height: 1.2;
}

.home h4
{
    font-size: 3rem;
    line-height: 1.2;
}

.home .opacy
{
    padding: 10rem 0;
}

.home .divider_light
{
    margin: 2rem 0;
}

.home .paddings-content
{
    padding: 0;
}

.work h1
{
    font-size: 40px;
    font-weight: bold;
}

.work .social_icon {
    white-space: nowrap;
}

.work .social_icon span {
    display: inline-block;
    margin: 0 3px;
    width: 5rem;
    height: 5rem;
}

.work .social_icon span {
    background: #fff;
    border-radius: 100%;
    padding: 1.2rem 1.2rem 0 0;
}

.work .social_icon a
{
    display: inline;
    background: none;
    border-radius: 0;
}

.work .social_icon a:hover
{
    color: #fff
}

.title h1
{
    font-size: 5.1rem;
    line-height: 1.2;
}

.title h2
{
    font-size: 4.1rem;
    line-height: 1.2;
}

.slogan h2, .slogan h3, .slogan h4, .date_blog h2
{
    text-transform: uppercase;
}

.slogan h2
{
    font-size: 3.7rem;
}

.bold-title
{
    font-weight: bold;
}

.slogan h4
{
    font-size: 2rem;
}

.ch-tutor-1
{
    background-image: url("/img/tutors/01.jpg");
}

.ch-tutor-2
{
    background-image: url("/img/tutors/02.jpg");
}

.ch-tutor-3
{
    background-image: url("/img/tutors/03.jpg");
}

.ch-tutor-4
{
    background-image: url("/img/tutors/04.jpg");
}

.ch-tutor-5
{
    background-image: url("/img/tutors/05.jpg");
}

.ch-tutor-6
{
    background-image: url("/img/tutors/06.jpg");
}

.ch-item:hover
{
    cursor:pointer;
}

.home-main h1.tutor
{
    font-size: 5rem;
    line-height: normal;
    letter-spacing: normal;
}

.manager-slogan
{
    max-height: 150px;
    border-radius: 50%;
}

.contact_us .number p
{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.blog h2
{
    font-weight: bold;
}

.btn-danger {
    background: #8a1b13;
}

.btn-lg {
    font-size: 1.7rem;
    padding: 1rem 3rem;
}
